# resource files that need to be dl
src/amrrules/resources/aro*
src/amrrules/resources/ncbi_taxonomy.tsv
src/amrrules/resources/ReferenceGeneHierarchy.txt
src/amrrules/resources/version.txt

src/amrrules/rules/*

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environment
.venv/
env/
venv
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VSCode settings
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/

# Pytest/mypy artifacts
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Build artifacts
build/
dist/
*.egg-info/
*.egg
*.whl

# Editable install backup file
src/amrrules.egg-info/

# macOS / Linux / Windows clutter
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Logs
*.log

# Pre-commit hook metadata (if used)
.pre-commit-config.yaml
.pre-commit-hooks.yaml
# generated browser assets
web/build/
